@using DemoBank.Feature.Banner.Rendering.Models
@model BannerModel

<section class="sec-jumbotron-herobanner"> 
  <div class="p-5 text-white jumbotron-herobanner" 
  style="background-image:url(@Model.CardImage.Value.Src)">
   <hr class="my-4">
    <h1 class="fw-bold"> <sc-text asp-for="@Model.CardTitle"></sc-text> </h1> 
    <p class="fs-5">
        <sc-text asp-for="@Model.CardDescription"></sc-text>
    </p> 
    <hr class="my-4">
        <p class="text-warning"><sc-text asp-for="@Model.CardParagraph"></sc-text></p>
        <p class="lead">
            <sc-link class="btn btn-primary btn-xl" href="#services" asp-for="@Model.CardLink"></sc-link>
        </p>
  </div>
</section>


