@using DemoBank.Feature.Card.Rendering.Models
@model CardModel

@if (Model != null)
{
    int buttonCounter = 0;
    int elementCounter = 0;
    <!-- Image cards-->
    string idSelector = @Model.CardTitle.Value.Replace(" ", "");

    <div class="container-fluid">
        <div id="@idSelector" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">

                @foreach (var card in Model.Elements)
                {
                    string isActivee = ((buttonCounter == 0) ? "active" : "");
                    <button type="button" data-bs-target="#@idSelector" data-bs-slide-to="@buttonCounter"
                    class="@isActivee" aria-label="Slide @buttonCounter"></button>
                    buttonCounter++;
                }

            </div>
            <div class="carousel-inner">
                @foreach (var card in Model.Elements)
                {
                    string isActivee = ((elementCounter == 0) ? "active" : "");

                    <div class="carousel-item @isActivee">
                        <sc-img class="d-block w-100" asp-for="@card.Fields.CardImage"></sc-img>

                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="fw-bold"> <sc-text asp-for="@card.Fields.CardTitle"></sc-text> </h1>
                            <h5><sc-text asp-for="@card.Fields.CardDescription"></sc-text></h5>
                            <p><sc-text asp-for="@card.Fields.CardParagraph"></sc-text></p>
                        </div>
                    </div>

                    elementCounter++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#@idSelector" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#@idSelector" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

}
