@model DemoBank.Feature.Navigation.Rendering.Models.MainNavigationMenu

@if (Model != null)
{
    <!-- Navigation-->
    <sc-link class="navbar-brand" asp-for="@Model.Link">
        <sc-text asp-for="@Model.DisplayName"></sc-text>
    </sc-link>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            @foreach (var nav in Model.Elements)
            {
                <li class="nav-item">
                    @if (nav.Fields.Elements.Any())
                    {
                    <li class="nav-item dropdown">
                        <sc-link class="nav-link  dropdown-toggle" role="button" data-bs-toggle="dropdown" asp-for="@nav.Fields.Link">
                            <sc-text asp-for="@nav.Fields.DisplayName"></sc-text>
                        </sc-link>
                        <ul class="dropdown-menu">
                                @foreach (var innerNav in nav.Fields.Elements)
                                {
                                <sc-link class="dropdown-item" asp-for="@innerNav.Fields.Link">
                                    <sc-text asp-for="@innerNav.Fields.DisplayName"></sc-text>
                                </sc-link>
                                }
                        </ul>
                    </li>
                    }
                    else
                    {
                    <sc-link class="nav-link" asp-for="@nav.Fields.Link">
                        <sc-text asp-for="@nav.Fields.DisplayName"></sc-text>
                    </sc-link>
                    }
                </li>
            }
        </ul>
    </div>
}


